<!DOCTYPE html>
<html lang="es">
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Detalle del Pokemon</title>
</head>
<body class="bodyDetalle">
    <header>
    </header>
    <main>
        <section id="app">
            
        </section>
        <button type="button" class="pokeHome">Volver a Home</button>
    </main>
    <script src="../pokedetalle.js"></script>
</body>
<footer>
    <ul class="footer-lista">
      <li>Daiana Ciaramella</li>
      <li>Jonathan Emanuel Cruz</li>
      <li>Escuela DaVinci - 2022</li>
    </ul>
  </footer>
</html>